services:
  mysql-container:
    image: mysql:8.3.0
    environment:
      MYSQL_ROOT_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      - /var/lib/mysql
    networks:
      - ecommerce-network
    hostname: mysql-host-productservice

  products-microservice:
    image: shubh11me/ecommerce-products-service:v1.0
    environment:
      MYSQL_HOST: mysql-host-productservice
      MYSQL_PASSWORD: admin
      MYSQL_PORT: 3306
      MYSQL_DB: ecommerceproductsdatabase
      MYSQL_USER: root
    ports:
      - "8080:8080"
    networks:
      - ecommerce-network
  postgres-container:
   image: postgres:16.1
   environment:
   - POSTGRES_USER=postgres
   - POSTGRES_PASSWORD=admin
   - POSTGRES_DB=eCommerceUsers
   ports:
   - "5432:5432"
   volumes:
   - ./postgres-init:/docker-entrypoint-initdb.d
   networks:
   - ecommerce-network

  users-microservice:
   image: shubh11me/ecommerce.userservice:latest
   environment:
   - POSTGRES_HOST=postgres-container
   - POSTGRES_PASSWORD=admin
   ports:
   - "9090:8080"
   networks:
   - ecommerce-network

networks:
 ecommerce-network:
  driver: bridge

